
body {
	margin-top: 100px;
	text-align: center;
	width: 100%;
	font-size: 80px;
}

button {
	color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.startButton {
	background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.startButton:hover {
    background-color: #fff; 
    color: #ccc; 

}

.stopButton {
    background-color: #3f51b5; 
    border: 2px solid #3f51b5;
}

.stopButton:hover {
    background-color: #fff;
    color: #ccc;
}

.resetButton {
    background-color: #de0920;  
    border: 2px solid #de0920;
}

.resetButton:hover {
    background-color: #fff;
    color: #ccc;
}

button:focus {
	outline: 0;
}